<li class="slide card w-75">
    <div class="card-body">
      <h5 class="card-title">{{ task.name }}</h5>
      <p class="card-text text-black-50"> 
        {% if task.description %}
        {{ task.description }}
        {% else %}
        No description
        {% endif %}</p>

      <div class="btn-group-fab" role="group" aria-label="FAB Menu">
        <div>
          <button type="button" class="btn btn-main btn-primary has-tooltip" data-placement="left" title="Menu"> <i class="fa fa-bars"></i> </button>
          <button type="button" class="btn btn-sub btn-info has-tooltip" data-placement="left" title="Pin/Unpin"> <i class="fa fa-arrows-alt"></i></button>
          <button type="button" class="btn btn-sub btn-danger has-tooltip" data-placement="left" title="Save"> <i class="fa fa-floppy-o"></i> </button>
          <form action="{% url 'task-remove' %}" method="post">
          {% csrf_token %}
          <button type="submit" name="delete" class="btn btn-sub btn-warning has-tooltip" data-placement="left" value="{{ task.id }}" title="Delete"> <i class="fa fa-trash-o"></i> </button></form>
        </div>
    </div>
  </li>