{% extends 'base.html' %}

{% block content %}
{% if auth == True %}
  <h3>To-Do list!</h3>

  <hr>
    {% if tasks %}
    <div class='list'> <!-- This hold all the todo cards. -->
      {% for task in tasks %}
        {% include 'task/partials/card.html' %}
      {% endfor %}
    </div>
      {% else %}
        <p> No tasks to display </p>
    {% endif %}
    <a href="{% url 'task-new' %}"><button>New Task</button></a>
  </hr>
{% else %}
  <p>Please sign in to view to-do list.</p>
{% endif %}
{% endblock %}
